@font-face {
  font-family: "antidecor-bold-italic";
  font-display: swap;
  src: url("../fonts/antidecor-bold-italic.woff") format("woff"), url("../fonts/antidecor-bold-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "cuprum-bold-italic";
  font-display: swap;
  src: url("../fonts/cuprum-bold-italic.woff") format("woff"), url("../fonts/cuprum-bold-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "nimbusromdcy-bold-italic";
  font-display: swap;
  src: url("../fonts/nimbusromdcy-bold-italic.woff") format("woff"), url("../fonts/nimbusromdcy-bold-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TuffyBoldItalic";
  font-display: swap;
  src: url("../fonts/TuffyBoldItalic.woff") format("woff"), url("../fonts/TuffyBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

body {
  background: url("../img/keto.jpg") center no-repeat;
  width: 100%;
}
@supports (-webkit-appearance:none){
body{background:url("../img/keto.webp") center no-repeat}
}
