body {
    background: #a0a0a0;
    width: 50%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.one_div {
    /*background: #c21c1c;
    width: 100%;*/
}
.two_div {
    background: #c29b1c;
    width: 100%;
}

img {
    background: #0db5d3;
    width: 100%;
}