@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
<div class="product-grid cross-sells bs_home_feature_product_main">
    <div class="bs_title_black title_bg_grey bs_text_center bs_margin_b_mid">
        <h4>@T("ShoppingCart.CrossSells")</h4>
    </div>
    <div class="item-grid bs_home_products">
        @foreach (var product in Model)
        {
            <div class="item-box">
                @await Html.PartialAsync("_ProductBox", product)
            </div>
        }
    </div>
</div>
}