header {
	background-color: $dark-color;
	#logo a {
		text-shadow: 2px 2px 4px red, -2px 2px 4px red, 2px -2px 4px red, -2px -2px 4px red;
		/*font-family: Times New Roman, sans-serif;*/
		color: $yellow;
		float: left;		
		padding-top: 10px;
		font-weight: 700;
	}
	#lk_menu {		
		line-height: 20px;
		#contact, .lk_topmenu_li a label#client {
			margin-top: -20px;
		}
		#contact a, .lk_topmenu {
			margin: -10px 0 5px 30px;
		}
		#contact a {
			text-shadow: 1px 1px 2px #e0e0e0, 0 0 2em white;
			color: $violet;
			float: right;
			font-size: 1.4em;
		}
		#contact a:hover {
			color: #e0e0e0;
		}
	}
}

@media (min-width: 1300px) {
	header {
		#logo a {
			font-size: 2.5em;
			margin: 8px 0 7px 15%;
			width: 70%;
		}
		#lk_menu {
			#contact a:first-child, .lk_topmenu {	
				margin-right: 15%;
			}
		}
	}
}
@media (max-width: 1299px) {
	header {
		#logo a {
			font-size: 2em;
			margin: 8px 0 7px 7%;
			width: 86%;
		}
		#lk_menu {
			#contact a:first-child, .lk_topmenu {	
				margin-right: 7%;
			}
		}
	}
}

.lk_topmenu {
	font-size: 1.2em;
}
.lk_submenu {	
	margin: 0;
	padding: 10px 20px;	
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	@include transition(0.5s ease-in-out);
	display: none;
	background: $beige;
	border: 1px solid #8c8c8c;		
	border-radius: 5px;	
}
.lk_topmenu_li {
	display: inline-block;
	position: relative;
	padding: 0;
}
.lk_topmenu a {
	display: block;
	@include transition(0.5s linear);
}

.lk_submenu li a {
	border: 1px solid green;
	border-radius: 5px;
	color: green;
	margin: 7px;
	padding: 10px 0;
	float: left;
	width: 150px;
	text-align: center;
}

.lk_submenu li a:hover {
	text-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white, -1px -1px 3px white;
	color: red;
}
.lk_topmenu li:hover .lk_submenu {
	display: block;
}

#client {
	float: right;
	color: white;	
	border: 4px double white;
	border-radius: 5px;	
	padding: 5px 10px;
	margin-bottom: 5px;
}

#client:hover {
	text-shadow: 2px 2px 5px red, -2px 2px 5px red, 2px -2px 5px red, -2px -2px 5px red;
	border: 4px double red;
	border-radius: 5px;	
	box-shadow: 0 0 20px red;
	cursor: pointer;
}