@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="bs_title_black title_bg_white bs_text_center bs_margin_b_mid">
        <h4>@T("Account.MyAccount") - @T("Account.ChangePassword")</h4>
    </div>
    <div class="page-body">
        <div class="bs_change_password_box">
            <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>

                <div class="bs_input_field">
                    <label class="bs_text_label" asp-for="OldPassword" asp-postfix=":"></label>
                    <div class="bs_input_area">
                        <input asp-for="OldPassword" placeholder="OldPassword" />
                        <nop-required />
                    </div>
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div class="bs_input_field">
                    <label class="bs_text_label" asp-for="NewPassword" asp-postfix=":"></label>
                    <div class="bs_input_area">
                        <input asp-for="NewPassword" placeholder="NewPassword" />
                        <nop-required />
                    </div>
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="bs_input_field">
                    <label class="bs_text_label" asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                    <div class="bs_input_area">
                        <input asp-for="ConfirmNewPassword" placeholder="ConfirmNewPassword" />
                        <nop-required />
                    </div>
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>               

                <div class="buttons">
                    <button type="submit" class="bs_primary_button change-password-button">@T("Account.ChangePassword.Button")</button>
                </div>
            </form>
        </div>
    </div>
</div>