@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="bs_title_black title_bg_white bs_text_center bs_margin_b_mid">
        <h4>@T("Account.PasswordRecovery")</h4>
    </div>
    <div class="page-body">

        <div class="bs_change_password_box">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                <div class="">
                    <div class="">
                        <div class="bs_input_field">
                            <label class="bs_text_label" asp-for="Email" asp-postfix=":"></label>
                            <div class="bs_input_area">
                                <input asp-for="Email" class="email" placeholder="Your Email Address" />
                                <nop-required />
                            </div>
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <nop-captcha />
                    }
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="bs_primary_button password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                </div>
            </form>
        </div>        
    </div>
</div>