p {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin: 0 2rem;
        text-align: center;
        width: 300px;
    }

    i {
        cursor: pointer;        
    }
    
    font-size: 2rem;
}
